/* import url for font here: */
@import url(//db.onlinewebfonts.com/c/96092db40c3de99f4a5298fe02b82e27?family=Galano+Grotesque);
* {
    /* general sizing. */
    /* This makes the sizing of our elements determined by border-box */
    /* Otherwise, padding would be added to defined padding */
    /* width takes into account the padding. */
    box-sizing: border-box;
    font-family: 'galano grotesque'; 
}

hr {
    margin-top: 55px;
}

html, body {
    /* clears margin */
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #243447;
    color: #0097d8;
}

.nav ul {
    /* This clears the top margin because <ul> takes space and there would */
    /* be white space without this */
    margin: 0;

}

.nav li {
    display: inline;
}

.nav a {
    /* inline el can't ctrl padding on top */
    /* inline-block allows height+padding to el */
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: rgb(96, 144, 216);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li {
    /* spaces elements apart */
    padding: 0 5%;
}

.header {
    /* background-size: cover (cuts off image) to grow and shrink */
    background-color: #657786;
    color: #0097d8;
}

.header-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'galano grotesque'; 
    font-weight: lighter;
    text-shadow: 2.5px 2.5px 4px #000;
    color: white;
}

/* =========================================================================================== */
/* content */
.content-section {
    margin: 1em;
    background-color: #243447;
    color: rgb(217, 226, 238);
    /* min-height: 100%; /* this may need to move to content-section */  
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    

}

.section-header {
    font-family: 'galano grotesque'; 
    font-weight: normal;
    text-align: center;
    font-size: 2.5em; /*makes 2.5x bigger*/
    color: white;

}

.about-project-img {
    float: left;
    height: 500px;
    width: 300px;
    margin: 15px;
    margin-top: 0;

}

/* TO ADD LATER  */ 
/* =========================================================================================== */
.about-me-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
    /* set image above <p> tags */
}

/* =========================================================================================== */
/* Footer */
.main-footer {
    background-color: #657786;
    color: white;
    height: 70px;
    bottom: 0;
    clear:both;
    margin-top: -70px;
    position:relative;

}

.main-footer-container {
    display: flex;
    align-items: center;

}

.main-footer-container a {
    color: white;
}

.main-footer-container a:hover {
    color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;

}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* =========================================================================================== */


