/* import url for font here: */

* {
    /* general sizing. */
    /* This makes the sizing of our elements determined by border-box */
    /* Otherwise, padding would be added to defined padding */
    /* width takes into account the padding. */
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* Change this font when you import url */
}

html, body {
    /* clears margin */
    margin: 0;
    padding: 0;
}

.nav ul {
    /* This clears the top margin because <ul> takes space and there would */
    /* be white space without this */
    margin: 0;

}

.nav li {
    display: inline;
}

.nav a {
    /* inline el can't ctrl padding on top */
    /* inline-block allows height+padding to el */
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(162, 185, 185, .3);    
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.header {
    background-color: rgb(197, 197, 231);
    /* background-size: cover (cuts off image) to grow and shrink */
}



/* 13:11 */
/* https://www.youtube.com/watch?v=Sv_NAxi_jNs */